<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.superywd.aion.login.dao.AccountDao">
    <!--基本对象映射类-->
    <resultMap id="BaseResultMap" type="com.superywd.aion.login.model.Account">
        <id column="id" jdbcType="INTEGER" javaType="Integer" property="id"/>
        <result column="name" jdbcType="VARCHAR" javaType="String" property="name"/>
        <result column="password" jdbcType="VARCHAR" javaType="String" property="passwordHash"/>
    </resultMap>

</mapper>